body {
  background: rgb(33, 39, 97);
  width: 1000px;
  margin: 0 auto;
}
header {
  .titulo {
    width: fit-content;
    
    margin: 0 auto;
  }
  h1 {
    font-size: 7em;
    margin: 0;
    color: white;
    text-align: center;
  }
  hr {
    height: 4px;
    background-color: #387af5;
    border: none;
    width: 50%;
    margin-top: -10px;
  }
}
h2{
    text-align: center;
    color: #a6aaaf;
    margin-top: 4%;
    font-size: 2em;
}

.boardbackground{

    max-width: 550px;
    margin: auto;
    // background-image:url(o.png), url(x.png);
    // background-repeat: no-repeat;
    // background-size: 15%;
    // background-position: right bottom,left top;
}
.board{

    display: grid;
   background-color: #387af5;
    max-width: 350px;
    margin: 0 auto;
    
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 10px;

    button{
        background-color: red;
        aspect-ratio: 1;
        background-color: rgb(33, 39, 97);
        border: none;
    }
    button:hover{
        background-color: #387af5;
    }
}

.reset{
display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: rgb(33, 39, 97);
background: yellow;
border: none;
font-size: 2em;
padding: 10px 30px;
font-weight: 600;
 
border-radius: 8px;
}